.App {
  text-align: center;
  padding: 20px;
}

.navbar{
  display: flex;
  justify-content: end;
}

.about {
  display: inline-block;
  margin-right: 10px;
}
.work {
  display: inline-block;
  margin-right: 10px;
}
.contact {
  display: inline-block;
}
